*{


background-color: #DFF6FF;

}
p{

color: #1A1A1A;

}

h1, titulo{

font-style: italic;
color: #1B4F72;

}

h3, titulosecundario{

font-style: italic;
color:#3A6D8C;
    
}

h4, titulosterciarios{

font-style: italic;

}